main {
  width: 100%;
  min-width: 320px;
  height: auto;
  background-color: var(--off-white);
  & .main__exchange__container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
    & .backgroundImg {
      width: 200px;
      height: 200px;
      margin: 0 auto;
      margin-bottom: 50px;
      background-image: url("../../assets/imgs/bitcoin.svg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      // background: url('../../assets/imgs/bitcoin.svg') center/cover no-repeat;
    }
    &--title {
      width: 90%;
      min-width: 288px;
      max-width: 900px;
      margin: 0 auto;
      & h2 {
        margin-bottom: 30px;
        font-size: 2.4rem;
        font-weight: bold;
        line-height: 2.6rem;
        color: var(--black);
      }
      & p {
        margin-bottom: 30px;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.6rem;
        color: #757575;
      }
    }
    & .main__table--container {
      font-family: "Inter", monospace;

      & .main__table--title {
        font-family: "DM Sans", sans-serif;

        font-weight: 700;
        font-size: 1.8rem;
        line-height: 2.344rem;
        width: 75%;
        margin: 0 auto 12px auto;
        padding-left: 15px;
        text-align: left;
        &.orange {
          color: var(--bitcoin-orange);
        }
        &.blue {
          color: var(--secondary-blue);
        }
      }
      & .container_split {
        position: relative;
        & .main__grid--container {
          width: 75%;
          display: grid;
          column-gap: 1px;
          row-gap: 1px;
          grid-template-columns: 1fr 1fr;
          margin: 0 auto;
          border-radius: 8px;
          color: #b5b0ac;
          & .main__grid--child {
            background-color: #fff;
            border-bottom: 1px solid var(--off-white);
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 1.936rem;
            padding: 10px 12px;
            text-align: left;
            &.table__top-left {
              border-radius: 15px 0 0 0;
            }
            &.table__top-right {
              border-radius: 0 15px 0 0;
            }
            &.table__bottom-left {
              border-radius: 0 0 0 15px;
            }
            &.table__bottom-right {
              border-radius: 0 0 15px 0;
            }
            &.value {
              color: #757575;
              font-weight: 400;
              font-size: 1.4rem;
              line-height: 1.694rem;
              text-align: center;
              &::before {
                content: "$";
                display: inline-block;
                margin-right: 4px;
              }
              @mixin icon-trending {
                display: inline-block;
                width: 13px;
                height: 8px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                margin-left: 12px;
              }
              & .up {
                @include icon-trending;
                background-image: url("../../assets/icons/up.svg");
              }
              & .down {
                @include icon-trending;
                background-image: url("../../assets/icons/down.svg");
              }
            }
          }
        }

        @mixin arrow-style {
          position: absolute;
          top: calc(50% - 12px);
          display: inline-block;
          width: 24px;
          height: 24px;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          cursor: pointer;
        }

        & .arrow--right {
          @include arrow-style();
          right: calc(12.5% - 24px - 14px);
          background-image: url("../../assets/icons/right.svg");
        }
        & .arrow--left {
          @include arrow-style();
          left: calc(12.5% - 24px - 14px);
          background-image: url("../../assets/icons/left.svg");
        }
      }
      & .main__table--update {
        color: var(--warm-black);
        width: 70%;
        margin: 0 auto;
        border-radius: 8px;

        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.452rem;
        margin-top: 16px;
        padding: 8px;
        & span {
          font-weight: 700;
        }
        &.orange {
          background-color: var(--soft-orange);
        }
        &.blue {
          background-color: var(--soft-blue);
        }
      }
    }
  }
  & .main-product-detail {
    background-color: var(--black);
    min-width: 320px;
    width: 100%;
    height: auto;
    position: relative;
    padding: 20px 10px;
    & .product-detail--batata-logo {
      position: absolute;
      top: -12.5px;
      left: calc(50% - 20.5px);
      // top: 0%;
      // left: 50%;
      // transform: translate(-50%, -50%);
      display: inline-block;
      width: 41px;
      height: 25px;
      background-image: url("../../assets/imgs/batatabit.svg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    & .product-detail--title {
      width: 90%;
      min-width: 280px;
      height: auto;
      margin: 0 auto;
      margin-top: 50px;
      text-align: center;

      & h2 {
        margin-bottom: 20px;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 2.6rem;
        color: #fff;
      }
      & p {
        color: #808080;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.8rem;
        margin-bottom: 32px;
      }
    }
    & .product-cards--container {
      & .product-detail--card {
        width: 90%;
        min-width: 288px;
        max-width: 400px;
        min-height: 150px;
        margin: 15px auto;
        padding: 15px;
        background-color: var(--warm-black);
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
        @mixin icon-template {
          display: inline-block;
          width: 20px;
          height: 20px;
          margin-bottom: 10px;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
        & .clock {
          @include icon-template();
          background-image: url("../../assets/icons/clock.svg");
        }
        & .eye {
          @include icon-template();
          background-image: url("../../assets/icons/eye.svg");
        }
        & .dollar {
          @include icon-template();
          background-image: url("../../assets/icons/dollar-sign.svg");
        }
        & .check {
          @include icon-template();
          background-image: url("../../assets/icons/check-circle.svg");
        }
        & .product--card-title {
          margin-bottom: 15px;
          font-size: 1.8rem;
          font-weight: bold;
          line-height: 1.8rem;
          color: var(--just-white);
        }
        & .product--card-body {
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 1.8rem;
          color: #808080;
        }
      }
    }
  }
  & .bitcoin-img-container {
    width: 100%;
    height: 50vh;
    min-width: 320px;
    background-image: url("../../assets/imgs/bitcoinbaby1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    & h2 {
      color: var(--just-white);
      font-size: 2.4rem;
      font-weight: bold;
      padding-top: 64px;
      text-align: center;
    }
  }
  & .main-plans-container {
    width: 100%;
    min-width: 320px;
    text-align: center;
    padding-bottom: 70px;
    background-color: var(--off-white);
    & .plans--title {
      width: 90%;
      min-width: 288px;
      height: auto;
      margin: 0 auto;
      margin-bottom: 50px;
      & h2 {
        padding-top: 50px;
        font-size: 2.4rem;
        font-weight: bold;
        line-height: 2.6rem;
        color: var(--black);
      }
      & p {
        padding-top: 30px;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.8rem;
        color: #757575;
      }
    }
    & .plans-container--slider {
      $margin: 5px;
      display: flex;
      gap: $margin;
      height: 316px;
      overflow-x: scroll;
      overscroll-behavior-x: contain;
      scroll-snap-type: x proximity;
      & .plans-container--card {
        position: relative;
        scroll-snap-align: center;
        background-color: var(--just-white);
        width: 70%;
        min-width: 190px;
        max-width: 300px;
        padding: 0 15px;
        height: 250px;
        margin: 50px auto 0;
        border-radius: 15px;
        box-shadow: 0px 4px 8px 0px rgba(89, 73, 30, 0.16);
        &:nth-child(1) {
          margin-left: $margin;
        }
        &:nth-child(3) {
          margin-right: $margin;
        }
        @mixin flag_type {
          position: absolute;
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 120px;
          height: 31px;
          border-radius: 8px;
          padding: 6px;
          top: -15.5px;
          left: calc(50% - 60px);
          // transform: translate(-50%, -50%);
          // top: 0%;
          // left: 50%;
          color: var(--just-white);
          font-family: Inter;
          font-size: 1.2rem;
          font-weight: 700;
        }
        & .recomended {
          @include flag_type();
          background-color: var(--bitcoin-orange);
        }
        & .basic {
          @include flag_type();
          background-color: #1796f5;
        }
        & .limit {
          @include flag_type();
          background-color: #bbbbbb;
          color: var(--black);
        }
        & .plan-info-container {
          & .plan-card--title {
            padding-top: 30px;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.8rem;
            color: var(--black);
          }
          & .plan-card--price {
            padding: 5px 0;
            font-size: 5.2rem;
            font-weight: bold;
            line-height: 5.3rem;
            color: var(--black);
            & sup {
              font-size: 1.2rem;
              font-weight: 300;
              vertical-align: 25px;
              // vertical-align: text-top;
            }
          }
          & .plan-card--saving {
            font-size: 1.2rem;
            color: #757575;
          }
          & .plan-card--ca {
            width: 150px;
            height: 48px;
            margin: 20px auto;
            border: 2px solid var(--Bitcoin-Orange, #f7931a);
            border-radius: 4px;
            background: var(--Off-White, #faf8f7);
            font-family: "DM Sans", sans-serif;
            font-size: 1.4rem;
            font-weight: bold;
            line-height: 1.8rem;
            color: var(--black);
            display: flex;
            justify-content: center;
            align-items: center;
            & span {
              display: inline-block;
              margin-left: 8px;
              width: 24px;
              height: 24px;
              background-image: url("../../assets/icons/arrow-right.svg");
              vertical-align: text-bottom;
            }
          }
        }
      }
    }
  }
}
